[submodule "khun-ram-oracle"]
	path = khun-ram-oracle
	url = https://github.com/E0993599799/khun-ram-oracle
[submodule "luxi-oracle"]
	path = luxi-oracle
	url = https://github.com/E0993599799/luxi-oracle
